<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
Writer Name : [[${param.name}]]<br>
Subject : [[${param.subject}]]<br>
Content : [[${param.content}]]<br>

<hr>
<!--/*
단순한 html 주석만 처리하면 error 뜸 !
Write : [[${write}]] <br>
Writer Name : [[${write.name}]]<br>
Subject : [[${write.subject}]]<br>
Content : [[${write.content}]]<br>
*/-->
DTO : [[${DTO}]] <br>
Writer Name : [[${DTO.name}]]<br>
Subject : [[${DTO.subject}]]<br>
Content : [[${DTO.content}]]<br>

<button onclick="history.back()">Back</button>

</html>