<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="comment">
    <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>

    <!-- 댓글 -->
    <div class="container my-3 border rounded">
        <div class="mb-3 mt-3">
            <label>댓글: <span id="cmt_cnt">3</span> 개</label>
            <div class="input-group my-2">
                <input type="text" class="form-control" id="input_comment">
                <button type="button" class="btn btn-outline-primary" id="btn_comment">작성</button>
            </div>

            <table class="table table-hover mt-3" id="cmt_table">
                <thead>
                <tr>
                    <th style="width: 16.66%">작성자</th>
                    <th>내용</th>
                    <th style="width: 16.66%">작성일</th>
                </tr>
                </thead>
                <tbody id="cmt_list">
                <tr>
                    <td><span><strong>USER1</strong><br><small class="text-secondary">(사용자1)</small></span></td>
                    <td>
                        <span>정말 정말 재미 있습니다.</span>
                        <i class="btn fa-solid fa-delete-left text-danger" data-bs-toggle="tooltip" title="삭제"></i>
                    </td>
                    <td><span><small class="text-secondary">2022.03.22 13:43:05</small></span></td>
                </tr>
                <tr>
                    <td><span><strong>USER1</strong><br><small class="text-secondary">(사용자1)</small></span></td>
                    <td>
                        <span>세번이나 봤습니다.</span>
                        <i class="btn fa-solid fa-delete-left text-danger" data-bs-toggle="tooltip" title="삭제"></i>
                    </td>
                    <td><span><small class="text-secondary">2022.03.22 13:43:05</small></span></td>
                </tr>
                <tr>
                    <td><span><strong>USER2</strong><br><small class="text-secondary">(사용자2)</small></span></td>
                    <td>
                        <span>돈 아깝습니다.</span>
                    </td>
                    <td><span><small class="text-secondary">2022.03.20 07:21:32</small></span></td>
                </tr>
                <tr>
                    <td><span><strong>USER3</strong><br><small class="text-secondary">(사용자3)</small></span></td>
                    <td>
                        <span>나만 당할수 없지.  꼭 꼭 보세요.</span>
                    </td>
                    <td><span><small class="text-secondary">2022.03.18 23:56:17</small></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 댓글 -->


</th:block>


</html>x