<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script th:if="${list==null} or ${#lists.size(list)<=0}">
  alert("There is no data or been deleted");
  history.back();
</script>

<th:block th:with="dto=${list[0]}" th:if="${list} and ${#lists.size(list) > 0}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/update.js}"></script>

    <title>Edit : [[${dto.subject}]]</title>
  </head>

  <body>
    <div class="container mt-3">
      <h2>Edit</h2>
      <hr>
      <div class="mb-3 mt-3 clearfix">
        <span class="float-start me-2">Id : [[${dto.id}]]</span>
        <span class="float-end ms-4">Date : [[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</span>
        <span class="float-end">ViewCount : [[${dto.viewCnt}]]</span>
      </div>

      <form name="frm" th:action="@{/board/update}" method="post" enctype="Multipart/form-data">
        <input type="hidden" name="id" th:value="${dto.id}"/>
        <div class="mb-3">
          <label>Writer : </label>
          <span class="form-control" readonly>[[${dto.user}]]</span>
        </div>
        <div class="mb-3 mt-3">
          <label for="subject">Subject : </label>
          <input type="text" class="form-control" id="subject" placeholder="Write a subject" name="subject"
                 th:value="${dto.subject}" required>
        </div>
        <div class="mb-3 mt-3">
          <label for="content">Content : </label>
          <textarea class="form-control" rows="5" id="content" placeholder="Write a content"
                    name="content">[[${dto.content}]]
          </textarea>
        </div>

        <!-- 기존 첨부파일  목록 (삭제 가능) -->
        <div class="container mt-3 mb-3 border rounded" th:if="${dto.files != null} and ${#lists.size(dto.files) > 0}">
          <div id="delFiles"></div>  <!-- 삭제할 file 의 id 값(들)을 담기위한 div -->
          <div class="mb-3 mt-3">
            <label>첨부파일:</label>
            <div class="input-group mb-2" th:each="fileDto : ${dto.files}">
              <input class="form-control col-xs-3" type="text" readonly th:value="${fileDto.source }">
              <button type="button"  class="btn btn-outline-danger" th:data-fileid-del="${fileDto.id}">삭제</button>
            </div>
          </div>
        </div>
        <!-- 기존 첨부파일  목록 (삭제 가능) -->

        <!-- 새로운 첨부파일 추가  write.html 의 내용과 거의 똑같다.-->
        <div class="container mt-3 mb-3 border rounded">
          <div class="mb-3 mt-3">
            <label>첨부파일추가:</label>
            <div id="files">

            </div>
            <button type="button" id="btnAdd" class="btn btn-secondary">추가</button>
          </div>
        </div>
        <!-- 새로운 첨부파일 추가 -->


        <!--        하단 link-->
        <button type="submit" class="btn btn-outline-dark">Complete</button>
        <button type="button" class="btn btn-outline-dark" onclick="history.back()">Back</button>
        <a class="btn btn-outline-dark" th:href="@{/board/list(page=${session.page})}">List</a>
        <!--        하단 link-->
      </form>
    </div>
  </body>
</th:block>
</html>