<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sample4</title>
    <style>
        table, th, td {
            border : 1px solid black;
            border-collapse : collapse;
        }
        table {
            width : 100%,
        }
    </style>
</head>
<body>
    <h1>/sample4</h1>
<!--    table 요소 안에서만 사용가능한 지역변수 target 선언 및 초기화 -->
    <table th:with="target = 'u01'">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>RegDate</td>
      </tr>

      <tr th:each="member : ${list}"> <!-- for 문처럼 반복해주는 역할 ! -->
        <td th:text="${member.id == target ? 'SECRET' : member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${#temporals.format(member.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
    </table>
    <div th:text="${target}"></div> <!-- table 밖에서는 사용 못함 -->

    <hr>
<!--    #lists 표현객체 사용해서 list, array 의 개수 출력 -->
    <h3 th:text="${#lists.size(list)}"></h3>

    <hr>
    <table th:with="target = 'u01'">
      <tr>
        <td>Link</td>
        <td>ID</td>
        <td>Name</td>
        <td>RegDate</td>
      </tr>

      <tr th:each="member : ${list}"
        th:if="${member.id}"> <!-- for 문처럼 반복해주는 역할 !, if 에 null 값이 오면 false 판정  -->
        <td >
          <a th:if="${member.id == target}" href="/modify">MODIFY</a> <!-- if 조건식 값이 참일때만 렌더링 됨 -->
          <p th:unless="${member.id == target}">VIEW</p> <!-- unless 조건값이 거짓일때만 렌더링 -->
        </td>
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${#temporals.format(member.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
    </table>

    <hr>
    test1 : <span th:if="${test1}" th:text="${test1}"></span> <!-- true -->
    test2 : <span th:if="${test2}" th:text="${test2}"></span> <!-- true -->
    test3 : <span th:if="${test3}" th:text="${test3}"></span> <!-- false (null) -->
    test4 : <span th:if="${test4}" th:text="${test4}"></span> <!-- false (false) -->

    <hr>
<!--null 혹은 empty 문자열 -->
    <span th:if="${not #strings.isEmpty(test1)}" th:text="${test1}"></span><br> <!-- empty 가 아닌 경우에만 rendering -->
    <span th:if="${not #strings.isEmpty(test2)}" th:text="${test2}"></span><br> <!-- empty 가 아닌 경우에만 rendering -->
    <span th:if="${not #strings.isEmpty(test3)}" th:text="${test3}"></span><br> <!-- empty 가 아닌 경우에만 rendering -->

</body>
</html>