<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sample2</title>
</head>
<body>
  <h4 th:text="m"></h4> <!-- 단순 "m" 출력  -->
  <h4 th:text="${m}"></h4> <!-- ${} 객체, 변수 표현 , 객체의 경우 toString() 값이 표현됨  ; model.getAttribute("m").toString() -->

  <div th:text="${'aaa'}"></div>
  <div th:text="${aa}">?</div> <!--Model 에 없는 attribute 'aa' 따라서 아무것도 안보여줌 ! not error !  -->
  <div th:text="${'aaa' + 'bbb'}"></div> <!-- thymeleaf 에서는 문자열 연산을 처리해준다 -->
<!--  <div th:text="${aaa+bbb}"}></div>  Model 에 있는 attribute 'aaa' 와 'bbb'를 찾는데 없으니까 error 발생- ; null + null 은 error
 ! -->
  <hr>
  <div th:text="${'aaa'+10+'bbb'}"></div>
  <div th:text="${10 + 20}"></div>
  <div th:text="${10 * 20}"></div>
  <div th:text="${10 / 20}"></div>
  <div th:text="${10 % 3}"></div>
  <div th:text="${10 / 20.0}"></div>
  <hr>
  <div th:text="10 + 20"></div>
  <div th:text="10 - 20"></div>
  <div th:text="m + 20"></div>
  <hr>
  <div th:text="${m.name}"></div> <!-- m.getName() ; 이미 getter, setter 가 존재하므로, 존재하는 getter 불러옴 ; getter = property -->
  <div th:text="${m.regdate}"></div> <!-- m.getRegDate() -->
  <div th:text="${m.no}"></div> <!-- m.getNo() -->
  <div th:text="${m.id}"></div> <!-- m.getId() -->
  <div th:text="${m.pw}"></div> <!-- m.getPw() -->
<!--  <div th:text="${m.age}"></div> &lt;!&ndash; getAge() 란 method 는 없으므로 error ?! No ! 그 전에 age 라는 property 가 없어서
error !
 &ndash;&gt;-->
  <div th:text="${m.Nick}"></div> <!-- m.getNick() 이 있으니까 이것도 가능 ! ; nick 의 존재여부가 아니라 getter 의 여부가 중요 -->
  <div th:text="${m.nick}"></div> <!-- m.getNick() ; 첫번째 글자의 대소문자 여부는 그닥 중요하지 않음 -->

  <div th:text="${m.RegDateTime}"></div>
  <div th:text="${m.regDateTime}"></div>

  <hr>

  <div th:text="aaa + bbb">context</div>
  <div th:text="'aaa' + 'bbb'">context</div>
<!--변수 표현식 안에 논리 연산자 및 삼항 연산자 사용 가능 -->
  <div th:text="${true && false}">context</div>
  <div th:text="(10 > 4) ? 'big' : 'small'">context</div>

  <hr>
  <h3>th:text th:utext</h3>
  <div th:text="${'<h3>' + m.no + '</h3>' }">context</div>
  <div th:utext="${'<h3>' + m.no + '</h3>' }">context</div> <!-- unescaped text -->

<!-- escaping 하기 -->
  <h3>Escaping</h3>
  <div th:text="${'What''s up?'}">context</div>
  <div th:text="'What\'s up?'">context</div> <!-- literal + backslash 는 가능  -->

  <hr>
  <h2>Array, List, Map</h2>
  <div th:text="${arr1}">context</div>
  <div th:text="${arr2}">context</div>
  <div th:text="${list1}">context</div>
  <div th:text="${list2}">context</div>
  <div th:text="${map1}">context</div>
  <div th:text="${map2}">context</div>

  <div th:text="${arr1[0]}">context</div>
  <div th:text="${arr1[3]}">context</div>
  <div th:text="${arr1[2]}">context</div> <!-- index 범위 밖은 에러! -->

  <div th:text="${arr2[0]}">context</div>
  <div th:text="${arr2[3]}">context</div>
  <div th:text="${arr2[0].name}">context</div>
  <div th:text="${arr2[3].regdate}">context</div>

 <!--  list 에도 배열처럼 [] 사용하여 접근 가능 index 벗어나면 error 발생 -->
  <div th:text="${list1[0]}">context</div>
  <div th:text="${list1[3]}">context</div>
  <div th:text="${list1[2]}">context</div>


  <div th:text="${list2[3]}">context</div>
  <div th:text="${list2[0].name}">context</div>
  <div th:text="${list2[3].regdate}">context</div>

  <div th:text="${map1[0]}">context</div> <!-- key:0 의 값 출력 -->
  <div th:text="${map1[3]}">context</div>
  <div th:text="${map1[6]}">context</div> <!-- 없는 key 값을 불러도 error 발생하지 않음 ! 출력이 안될 뿐 ! -->

  <div th:text="${map2[AAA]}">context</div> <!-- AAA 자리에 없는 index 넣어도 error 아니지만 밑에 .이하에 없는 key 값 넣으면 error -> getXXX
   를 찾기 때문 !
   -->
  <div th:text="${map2.AAA}">context</div>
  <div th:text="${map2.BBB.name}">context</div>
<!-- map2.BBB.name -> map2.get('BBB').getName() 의 의미 -->

</body>
</html>