<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sample3</title>

    <style>
        table, th, td {
            border : 1px solid black;
            border-collapse : collapse;
        }
        table {
            width : 100%,
        }
    </style>
</head>
<body>
<h1>Sample 3</h1>
  <div th:text="list[3]">context</div> <!-- 일반 문자열 -->
  <div th:text="${list[3]}">context</div>

  <table>
      <tr>
          <td>ID</td>
          <td>Name</td>
          <td>RegDate</td>
          <td>format</td>
      </tr>

      <tr th:each="member : ${list}"> <!-- for 문처럼 반복해주는 역할 ! -->
          <td th:text="${member.id}"></td>
          <td th:text="${member.name}"></td>
          <td th:text="${member.regdate}"></td>
          <td th:text="${#temporals.format(member.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
  </table>

<hr>
  <table>
    <tr>
        <td>Index</td>
        <td>Size</td>
        <td>Odd / Even</td>
        <td>ID</td>
        <td>Name</td>
        <td>RegDate</td>
    </tr>

    <tr th:each="member, iterState: ${list}"> <!-- for 문처럼 반복해주는 역할 ! -->
        <td th:text="${iterState.index}"></td>
        <td th:text="${iterState.size}"></td>
        <td th:text="${iterState.odd + ' ' + iterState.even}"></td>
        <td th:text="${member.id}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${#temporals.format(member.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
  </table>


</body>
</html>