<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sample5</title>
</head>
<body>
  <h1>/sample5</h1>
  <div th:text="${result}"></div>
  <div>[[${result}]]</div> <!-- inline 방식 -->
  <div>[[${#vars.result}]]</div> <!-- 모든 변수는 #vars 객체로 접근 가능 -->

  <hr>
  <script>
    let result = "[[${result}]]";
    let result2 = [[${result}]]; // JS 에러발생
  </script>

  <script th:inline="javascript">
        let result2 = [[${result}]];

  </script>

</body>
</html>