<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<script th:if="${list == null} or ${#lists.size(list) <= 0}">
        alert("That information has been deleted or does not exist.");
        history.back();
</script>
<th:block th:if="${list} and ${#lists.size(list) > 0}" th:with="dto=${list[0]}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

        <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script th:src="@{/js/detail.js}"></script>

        <title>Inquiry : [[${dto.subject}]]</title>
    </head>
    <body>
    <div class="container mt-3">
        <h2>Inquiry : [[${dto.subject}]]</h2>
        <hr>
        <div class="mb-3 mt-3 clearfix">
            <span class="float-start me-2">id : [[${dto.id}]]</span>
            <span class="float-end ms-4">Date : [[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</span>
            <span class="float-end">View Count : [[${dto.viewCnt}]] </span>
        </div>

        <section>
<!--            delete form 생성 -->
            <form name="frmDelete" th:action="@{/board/delete}" method="post">
                <input type="hidden" name="id" th:value="${dto.id}">
            </form>

            <div class="mb-3">
                <label>Writer : </label>
                <div class="border bg-light rounded p-2">[[${dto.user}]]</div>
            </div>
            <div class="mb-3 mt-3">
                <label>Subject : </label>
                <div class="border bg-light rounded p-2">[[${dto.subject}]]</div>
            </div>
            <div class="mb-3 mt-3">
                <label>Content : </label>
                <div class="border bg-light rounded p-2">[[${dto.content}]]</div>
            </div>

    <!--    하단 링크 -->
    <a class="btn btn-outline-dark" th:href="@{/board/update(id=${dto.id})}">EDIT</a>
    <a class="btn btn-outline-dark" th:href="@{/board/list}">LIST</a>
    <button type="button" class="btn btn-outline-dark" id="btnDel">DELETE</button>
    <a class="btn btn-outline-dark" th:href="@{/board/write}">WRITE</a>
    <!--    하단 링크 -->
        </section>
    </div>
    </body>
</th:block>
</html>