<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- action 의 url 과 method 주목 ! -->
<form action="regOk" method="GET">
  <input type="text" name="name" value="GET"/> <!-- name 이 있는것만 server 에 넘어감 -->
  <input type="submit" value="called GET"/>
</form>
<hr>
<form action="regOk" method="POST">
  <input type="text" name="name" value="POST"/>
  <input type="submit" value="called POST"/>
</form>

<hr>
<form action="regOk2" method="GET">
  <input type="text" name="name" value="GET-regOk2"/>
  <input type="submit" value="called GET"/>
</form>
<hr>
<form action="regOk2" method="POST">
  <input type="text" name="name" value="POST-regOk2"/>
  <input type="submit" value="called POST"/>
</form>



</html>